html, body {
    height: 100%;
    scroll-behavior: smooth;
    
}
.menu { padding:0; margin:0; width:400px; float:right;}
.menu ul { padding:0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:right; margin:0; padding:0; border:0;}
.menu ul li a { float:right; margin:0; padding:13px 10px;  text-decoration:none; font-family:Arial, Helvetica, sans-serif; color: #777777; border:0px;}

    
   
.profilepicture {
        height: 200px;
        width: 200px; 
       }


.container {
    display: block;
    background-color:white;
    width: 925px;
    border: 0px;
    padding: 25px;
    margin: 100px
}
   
 .paragraph {color: #777777;}
   

 .padding {
     padding-left: 85pt
 }


.titlebox {width:250px;
    margin: auto; 
    border:solid;
    border-color: #4aaaa5; 
    background-color:#4aaaa5;
    float: left }

    .name {font-family: 'Georgia', Times, Times New Roman, serif;background-color: #4aaaa5; color: white}

#abouttitle {color: #4aaaa5}

.bigcontainer {margin: 30px; background-image: url('background: url(../downloads/just-waves.jpg')}







input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}


input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: #4aaaa5; 
    font-family: Georgia, 'Times New Roman', Times, serif
}


.container {
    border-radius: 5px;
    background-color:white;
    padding: 20px;
}

#footer {color: #4aaaa5;}



.main {
    max-width: 1000px;
    margin: auto;
}



.row {
    margin: 8px -16px;
}


.row,
.row > .column {
    padding: 8px;
}


.column {
    float: left;
    width: 25%;
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.content {
    background-color: white;
    padding: 10px;
}


@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


















